body{ 
    font-family: 微軟正黑體, Microsoft JhengHei;
}

.chat_window{
	margin-left: 50%;
	height: calc(100vh - 120px);
}
.messages{
	height: calc(100vh - 250px);
}

.messages .message.left .text {
    color: black !important;
    font-weight: inherit;
}

#msg_input{
    color: black;
}

.c-btn {
    margin-top: 5px;
    width: 120px;
    text-shadow: 0px 0px #ffffff;
}

/* toggle button */
/* custom scrollbar */
/* width */

.messages {
    overflow-x: hidden;
}
.messages::-webkit-scrollbar {
    width: 15px;    
}

/* Track */
.messages::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px rgb(149, 255, 167);  */
    /* background: #5fad38f1; */
    border-bottom-right-radius: 10px;
}
 
/* Handle */
.messages::-webkit-scrollbar-thumb {
    background: #c9ffb89d;
    border-radius: 10px;
}

/* Handle on hover */
.messages::-webkit-scrollbar-thumb:hover {
    background: #caffb8d3; 
}

.wordWrap {
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: wrap;      /* current browsers */
}

.btn-text-blink {
    animation: blinker 0.4s linear infinite;
  }
  
  @keyframes blinker {
    80% {
      color:#5bc0de ;
    }
  }
