<!DOCTYPE HTML>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> -->
    <script src="{{ url_for('static', filename="js/jquery-2.2.4.min.js") }}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% block header %}{% endblock %}
</head>

<body >
        <div align="center"><img src="{{ url_for('static', filename="img/IOI_02.png") }}"></img></div>
     <!-- <h1 align="center">富邦人壽 網路投保智能助理</h1> -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
    <footer>
        {% block other_footers %}{% endblock %}
    </footer>

</html>
