{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/chat_interface.css") }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/temporary.css") }}">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons" rel="stylesheet">
<script src="{{ url_for('static', filename="js/annyang.min.js") }}"></script>
<script src="https://code.responsivevoice.org/responsivevoice.js"></script>

<script>
$(document).ready(function() {

    if (!responsiveVoice.voiceSupport() || !annyang) {
        // alert("Your browser do not support speech synthesis, use latest Chrome !");
        alert("you have to import annyang or responsiveVoice")
        return;
      }

    annyang.start();
    annyang.setLanguage('zh-TW');
    annyang.addCallback('error', function(event) {
        console.log(event);
      });
    annyang.addCallback('result', function(r) {
            console.log('annyang result:');
            console.log(r);
            if (r.length >= 1) {
            stopRec();
            send(r[0]);
            }
        });
    
    

    function startRec() {
         console.log('start recording..');
    //   $recBtn.text("Speak");
        annyang.resume();
    }

    function stopRec() {
        console.log('stop recording');
    //   $recBtn.text("Stop");
        annyang.pause();
    }

    //   $speechInput.keypress(function(event) {
    //     if (event.which == 13) {
    //       event.preventDefault();
    //       send($speechInput.val());
    //     }
    //   });

    function send(text) {
      if (!text.length)
        return;
      msg = text;
        if(msg){
        showUserMessage(msg);
        sayToBot(msg);
    $('.message_input').val('');
}
    }


function addBr(text){
    console.log(text)
    return text.replace(/\n/g, "<br />");

}
var Message;
Message = function (arg) {
    this.text = arg.text, this.message_side = arg.message_side;
    this.draw = function (_this) {
        return function () {
            var $message;
            $message = $($('.message_template').clone().html());
            $message.addClass(_this.message_side).find('.text').html(addBr(_this.text));
            $('.messages').append($message);
            return setTimeout(function () {
                return $message.addClass('appeared');
            }, 0);
        };
    }(this);
    return this;
};


function speakMessage(msg){
    var text_speak = ""
    for (i = 0; i < msg.length; i++) {
    message = new Message({
        text: msg[i]["text"],
        message_side: 'left'
   });
   message.draw();
   $messages.animate({ scrollTop: $messages.prop('scrollHeight') }, 300);
//    var text = new SpeechSynthesisUtterance();
//    text.text = msg;
//    text.lang = "zh-TW";
        text_speak = text_speak + "," + msg[i]["text"]
    }
    
if (asr_enable) {
    
        responsiveVoice.speak(text_speak, "Chinese Female", {onstart: disableButton, onend: afterRepsondVoice });
   
} else {
    responsiveVoice.speak(text_speak, "Chinese Female");
}
  
}

function afterRepsondVoice() {
    startRec();
    $asrButton.attr('disabled', false);
    }


function disableButton() {
    $asrButton.attr('disabled', true);
}

function showBotMessage(msg){
        
    for (i = 0; i < msg.length; i++) { 
    

        message = new Message({
             text: msg[i]["text"],
             message_side: 'left'
        });
        //alert(msg);
        // var u = new SpeechSynthesisUtterance(msg);
        // u.lang = "zh-TW" ;
 
        // window.speechSynthesis.speak(u);
        message.draw();
        $messages.animate({ scrollTop: $messages.prop('scrollHeight') }, 300);
    }
}
function showUserMessage(msg){
        $messages = $('.messages');
        message = new Message({
            text: msg,
            message_side: 'right'
        });
        message.draw();
        $messages.animate({ scrollTop: $messages.prop('scrollHeight') }, 300);
        $('#msg_input').val('');

}
function sayToBot(text){
    document.getElementById("msg_input").placeholder = "Type your messages here..."
    $.post("/chat",
            {
                //csrfmiddlewaretoken:csrf,
                text:text,
            },
            function(jsondata, status){
                

                    if(jsondata){
                    //   showBotMessage(response);
                    if (tts_enable) {
                        speakMessage(jsondata);  
                    }  else {
                        showBotMessage(jsondata);
                        if (asr_enable) {
                            startRec();
                        }
                        
                    } 
                      }
                
            });

}



getMessageText = function () {
            var $message_input;
            $message_input = $('.message_input');
            return $message_input.val();
        };

$("#say").keypress(function(e) {
    if(e.which == 13) {
        $("#saybtn").click();
    }
});

$('.send_message').click(function (e) {
        msg = getMessageText();
        if(msg){
        showUserMessage(msg);
        sayToBot(msg);
    $('.message_input').val('');}
});

$('.message_input').keyup(function (e) {
    if (e.which === 13) {
        msg = getMessageText();
        if(msg){
        showUserMessage(msg);
        sayToBot(msg);
    $('.message_input').val('') ;}
    }
});
var $ttsButton = $('#tts_button');
var tts_enable = true;

$ttsButton.on( 'click', function() {
    tts_enable = !tts_enable;
    if ( tts_enable ) {
    $ttsButton.removeClass( "btn-default" );
    $ttsButton.addClass( "btn-info");

    $ttsButton.text('TTS On');
    $ttsButton.blur();
  } else {
    $ttsButton.removeClass( "btn-info" );
    $ttsButton.addClass( "btn-default");
    $ttsButton.text('TTS Off');
    $ttsButton.blur();
  }
});

var $asrButton = $('#asr_button');
var asr_enable = true;

$asrButton.on( 'click', function() {
    asr_enable = !asr_enable;
    if ( asr_enable ) {
    $asrButton.removeClass( "btn-default" );
    $asrButton.addClass( "btn-info");
    $asrButton.text('ASR On');
    $asrButton.blur();
    startRec();
  } else {
    $asrButton.removeClass( "btn-info" );
    $asrButton.addClass( "btn-default");
    $asrButton.text('ASR Off');
    $asrButton.blur();
    stopRec();
    
  }
});






var $restartButton = $('#restart_button');
$restartButton.on( 'click', function() {
    $.post("/restart",
            {
                //csrfmiddlewaretoken:csrf,
                text:"to restart",
            },
            function(jsondata, status){
                

                    if(jsondata){
                    //   showBotMessage(response);
                    if (tts_enable) {
                        speakMessage(jsondata);  
                    }  else {
                        showBotMessage(jsondata);
                        if (asr_enable) {
                            startRec();
                        }
                        
                    } 
                      }
                
            });
});
}                  
)
</script>


{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="chat_window">
                <ul class="messages" style="background-size: contain; background-image: url({{ url_for('static', filename="img/IOI_01.jpg") }})"></ul>
                <div class="bottom_wrapper clearfix">
                    <div class="message_input_wrapper">
                        <input id="msg_input" class="message_input" placeholder="Type your messages here..." />
                    </div>
                    <div id="send" class="send_message">
                         <div class="text">送出</div>
                    </div>
                    <div>
                            <button type="button" class="btn btn-info c-btn" id="tts_button">TTS On</button>
                            <button type="button" class="btn btn-info c-btn" id="asr_button">ASR On</button>
                            <button type="button" class="btn btn-info c-btn" id="restart_button">ReStart</button>
                            <!-- <div class="text">開啟人聲輔助:</div>
                    <input type="checkbox" id="unchecked" class="cbx hidden"/>
                    <label for="unchecked" class="lbl"></label> -->
                    </div>
                    <!-- <div id="record" class="send_message">
                         <div class="text">record</div>
                    </div> -->
                </div>
            </div>
            <div class="message_template">
                <li class="message">
                    <div class="avatar"></div>
                    <div class="text_wrapper">
                        <div class="text"></div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block other_footers %}

<!-- <script src="{{ url_for('static', filename="js/bind.js") }}"></script> -->
{% endblock %}
